<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.SysInfoMapper">

    <resultMap type="SysInfo" id="SysInfoResult">
        <id property="infoId" column="info_id" />
        <result property="title" column="title" />
        <result property="summary" column="summary" />
        <result property="image" column="image" />
        <result property="content" column="content" />
        <result property="author" column="author" />
        <result property="tenant" column="tenant" /> <!-- 添加租户属性 -->
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectInfoVo">
        select info_id, title, summary, image, content, author, tenant, create_by, create_time, update_by, update_time
        from sys_info
    </sql>

    <select id="selectInfoList" parameterType="SysInfo" resultMap="SysInfoResult">
        <include refid="selectInfoVo"/>
        <where>
            <if test="title != null and title != ''">
                AND title like concat('%', #{title}, '%')
            </if>
            <if test="author != null and author != ''">
                AND author like concat('%', #{author}, '%')
            </if>
            <if test="tenant != null and tenant != ''">
                AND tenant like concat('%', #{tenant}, '%')
            </if>
        </where>
    </select>

    <select id="selectInfoById" parameterType="Long" resultMap="SysInfoResult">
        <include refid="selectInfoVo"/>
        where info_id = #{infoId}
    </select>

    <select id="checkInfoTitleUnique" parameterType="String" resultType="SysInfo">
        select info_id, title, summary, image, content, author, tenant, create_by, create_time, update_by, update_time
        from sys_info
        where title = #{title}
            limit 1
    </select>

    <update id="updateInfo" parameterType="SysInfo">
        update sys_info
        <set>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="summary != null and summary != ''">summary = #{summary},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="content != null">content = #{content},</if>
            <if test="author != null and author != ''">author = #{author},</if>
            <if test="tenant != null and tenant != ''">tenant = #{tenant},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where info_id = #{infoId}
    </update>

    <insert id="insertInfo" parameterType="SysInfo" useGeneratedKeys="true" keyProperty="infoId">
        insert into sys_info(
        <if test="title != null and title != ''">title,</if>
        <if test="summary != null and summary != ''">summary,</if>
        <if test="image != null and image != ''">image,</if>
        <if test="content != null">content,</if>
        <if test="author != null and author != ''">author,</if>
        <if test="tenant != null and tenant != ''">tenant,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        ) values (
        <if test="title != null and title != ''">#{title},</if>
        <if test="summary != null and summary != ''">#{summary},</if>
        <if test="image != null and image != ''">#{image},</if>
        <if test="content != null">#{content},</if>
        <if test="author != null and author != ''">#{author},</if>
        <if test="tenant != null and tenant != ''">#{tenant},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <delete id="deleteInfoById" parameterType="Long">
        delete from sys_info where info_id = #{infoId}
    </delete>

    <delete id="deleteInfoByIds" parameterType="Long">
        delete from sys_info where info_id in
        <foreach collection="array" item="infoId" open="(" separator="," close=")">
            #{infoId}
        </foreach>
    </delete>

    <!-- 通过用户名查询资讯信息列表 -->
    <select id="selectInfoListByUserName" resultType="com.ruoyi.project.system.domain.SysInfo">
        <include refid="selectInfoVo"/>
        where tenant = #{userName}
    </select>
</mapper>
